<!DOCTYPE html>
<html>
  <head>
    <title>CoachBunny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheets" href="reset.css" type="text/css">
    <link rel="icon" href="<%= image_url('bunny_logo.png') %>">

    <script type="text/javascript">
      window.textLogo = "<%= image_url('text_logo.png') %>";
      window.fullLogo2 = "<%= image_url('full_logo.png') %>";
      window.githubLogo = "<%= image_url('github.png') %>";
      window.linkedinLogo = "<%= image_url('linkedin.png') %>";
      window.magnifyingGlass = "<%= image_url('magnifying_glass.png') %>";

    </script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
